In [6]:
!pip install sodapy

Collecting sodapy
  Downloading sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in /opt/anaconda3/lib/python3.7/site-packages (from sodapy) (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine

In [8]:
client = Socrata("data.kcmo.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [9]:
# API Calls
crimeresults = client.get("vsgj-uufz", limit=65000)

In [10]:
results_df = pd.DataFrame.from_records(crimeresults)
results_df

,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,description,...,sex,age,firearm_used_flag,zip_code,rep_dist,location,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,KC20000380,2020-01-02T14:00:30.000,14:00,2019-12-30T17:50:00.000,17:50,2019-12-30T18:00:00.000,18:00,Stealing – Shoplift,23C,Shoplifting,...,M,34,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KC20000485,2020-01-02T19:39:29.000,19:39,2020-01-02T19:39:00.000,19:39,2020-01-02T20:33:00.000,20:33,Outside State Warrant Arrest,90C,Disorderly Conduct,...,M,45,False,64127,PJ2173,NaN,NaN,NaN,NaN,NaN
2,KC20000494,2020-01-02T20:04:12.000,20:04,2020-01-02T21:00:00.000,21:00,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,M,21,False,64086,NaN,NaN,NaN,NaN,NaN,NaN
3,KC20000565,2020-01-03T09:45:51.000,09:45,2020-01-03T09:09:00.000,09:09,NaN,NaN,State Warrant Arrest,NaN,NaN,...,F,36,False,64106,PJ1046,NaN,NaN,NaN,NaN,NaN
4,KC20000603,2020-01-03T12:10:50.000,12:10,2020-01-03T12:05:00.000,12:05,NaN,NaN,Stealing – Shoplift,23C,Shoplifting,...,NaN,NaN,False,64114,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60051,KC20048736,2020-07-22T08:04:30.000,08:04,2020-07-21T18:00:00.000,18:00,2020-07-22T06:30:00.000,06:30,Property Damage,290,Vandalism/Destruction of Property,...,M,47,False,64151,PP0561,"{'latitude': '39.22366', 'longitude': '-94.640...",163,5,3,66
60052,KC20055127,2020-08-15T16:20:12.000,16:20,2020-08-15T16:20:00.000,16:20,NaN,NaN,Burglary (Residential),220,Burglary/Breaking and Entering,...,F,62,False,64106,PJ2295,NaN,NaN,NaN,NaN,NaN
60053,KC20055047,2020-08-15T09:58:14.000,09:58,2020-05-01T00:01:00.000,00:01,2020-07-20T23:59:00.000,23:59,Identity Theft,26F,Identity Theft,...,U,NaN,False,64110,PJ4734,"{'latitude': '39.018837', 'longitude': '-94.56...",64,2,7,165
60054,KC20050432,2020-07-28T13:34:17.000,13:34,2020-07-28T13:30:00.000,13:30,NaN,NaN,Stealing – Shoplift,23C,Shoplifting,...,NaN,NaN,False,64131,NaN,"{'latitude': '38.948277', 'longitude': '-94.58...",162,1,7,163
60055,KC20053608,2020-08-10T06:42:02.000,06:42,2020-08-10T06:40:00.000,06:40,NaN,NaN,Assault (Aggravated),13A,Aggravated Assault,...,F,29,False,NaN,NaN,"{'latitude': '39.103739', 'longitude': '-94.58...",185,4,7,72

In [23]:
results_df.dropna(how='all')

,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,description,...,sex,age,firearm_used_flag,zip_code,rep_dist,location,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,KC20000380,2020-01-02T14:00:30.000,14:00,2019-12-30T17:50:00.000,17:50,2019-12-30T18:00:00.000,18:00,Stealing – Shoplift,23C,Shoplifting,...,M,34,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KC20000485,2020-01-02T19:39:29.000,19:39,2020-01-02T19:39:00.000,19:39,2020-01-02T20:33:00.000,20:33,Outside State Warrant Arrest,90C,Disorderly Conduct,...,M,45,False,64127,PJ2173,NaN,NaN,NaN,NaN,NaN
2,KC20000494,2020-01-02T20:04:12.000,20:04,2020-01-02T21:00:00.000,21:00,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,M,21,False,64086,NaN,NaN,NaN,NaN,NaN,NaN
3,KC20000565,2020-01-03T09:45:51.000,09:45,2020-01-03T09:09:00.000,09:09,NaN,NaN,State Warrant Arrest,NaN,NaN,...,F,36,False,64106,PJ1046,NaN,NaN,NaN,NaN,NaN
4,KC20000603,2020-01-03T12:10:50.000,12:10,2020-01-03T12:05:00.000,12:05,NaN,NaN,Stealing – Shoplift,23C,Shoplifting,...,NaN,NaN,False,64114,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60051,KC20048736,2020-07-22T08:04:30.000,08:04,2020-07-21T18:00:00.000,18:00,2020-07-22T06:30:00.000,06:30,Property Damage,290,Vandalism/Destruction of Property,...,M,47,False,64151,PP0561,"{'latitude': '39.22366', 'longitude': '-94.640...",163,5,3,66
60052,KC20055127,2020-08-15T16:20:12.000,16:20,2020-08-15T16:20:00.000,16:20,NaN,NaN,Burglary (Residential),220,Burglary/Breaking and Entering,...,F,62,False,64106,PJ2295,NaN,NaN,NaN,NaN,NaN
60053,KC20055047,2020-08-15T09:58:14.000,09:58,2020-05-01T00:01:00.000,00:01,2020-07-20T23:59:00.000,23:59,Identity Theft,26F,Identity Theft,...,U,NaN,False,64110,PJ4734,"{'latitude': '39.018837', 'longitude': '-94.56...",64,2,7,165
60054,KC20050432,2020-07-28T13:34:17.000,13:34,2020-07-28T13:30:00.000,13:30,NaN,NaN,Stealing – Shoplift,23C,Shoplifting,...,NaN,NaN,False,64131,NaN,"{'latitude': '38.948277', 'longitude': '-94.58...",162,1,7,163
60055,KC20053608,2020-08-10T06:42:02.000,06:42,2020-08-10T06:40:00.000,06:40,NaN,NaN,Assault (Aggravated),13A,Aggravated Assault,...,F,29,False,NaN,NaN,"{'latitude': '39.103739', 'longitude': '-94.58...",185,4,7,72

In [11]:
results_df.columns

Index(['report_no', 'reported_date', 'reported_time', 'from_date', 'from_time',
       'to_date', 'to_time', 'offense', 'ibrs', 'description', 'beat',
       'address', 'city', 'area', 'dvflag', 'involvement', 'race', 'sex',
       'age', 'firearm_used_flag', 'zip_code', 'rep_dist', 'location',
       ':@computed_region_kk66_ngf4', ':@computed_region_9t2m_phkm',
       ':@computed_region_my34_vmp8', ':@computed_region_w4hf_t6bp'],
      dtype='object')

In [12]:
importantcolumns = ['firearm_used_flag','zip_code','report_no']

In [13]:
for column in importantcolumns:
    print(column)
    print(results_df[column].value_counts())
    print(f"\n")

firearm_used_flag
False    54311
True      5745
Name: firearm_used_flag, dtype: int64


zip_code
64130    3907
64127    3503
64111    3502
64134    2586
64132    2373
         ...
50023       1
64234       1
64477       1
66114       1
64143       1
Name: zip_code, Length: 134, dtype: int64


report_no
KC20035353    51
KC20026792    50
KC20004714    42
KC20051937    40
KC20035416    33
              ..
KC20049097     1
KC20042923     1
KC20013872     1
KC20024782     1
KC20023892     1
Name: report_no, Length: 34598, dtype: int64

In [14]:
df = results_df[importantcolumns]
firearmtrue = df.loc[df['firearm_used_flag'] == True]
firearmtrue

       firearm_used_flag zip_code   report_no
18                  True    64114  KC20002799
25                  True    64124  KC20003565
59                  True      NaN  KC20008084
66                  True      NaN  KC20008696
90                  True    64134  KC20011352
...                  ...      ...         ...
60036               True    64109  KC20050694
60038               True    64132  KC20048660
60039               True    64109  KC20052176
60041               True      NaN  KC20047887
60049               True      NaN  KC20051360

[5745 rows x 3 columns]

In [15]:
for column in importantcolumns:
    print(column)
    print(firearmtrue[column].value_counts())
    print(f"\n")

firearm_used_flag
True    5745
Name: firearm_used_flag, dtype: int64


zip_code
64130    557
64127    457
64134    326
64132    315
64128    314
64124    256
64131    221
64111    176
64110    155
64108    151
64133    146
64123    141
64109    133
64137    132
64129    126
64138    112
64106    101
64126     88
64114     84
64119     76
64125     51
64118     50
64117     48
64155     48
64116     42
64105     26
64147     24
64120     23
64151     20
64112     20
64145     19
64157     14
64030     13
64161     13
64101     12
64154      9
64136      8
64139      7
64146      7
64213      6
64153      5
64053      3
63124      3
64156      2
64312      2
64113      2
64052      2
64115      1
Name: zip_code, dtype: int64


report_no
KC20004714    42
KC20032228    28
KC20015257    24
KC20009618    20
KC20004297    18
              ..
KC20001486     1
KC20004057     1
KC20029710     1
KC20024749     1
KC20017328     1
Name: report_no, Length: 2013, dtype: int64

In [27]:
firearmtrue.dropna(how = 'all')

       firearm_used_flag zip_code   report_no
18                  True    64114  KC20002799
25                  True    64124  KC20003565
90                  True    64134  KC20011352
111                 True    64111  KC20013693
164                 True    64137  KC20020502
...                  ...      ...         ...
60011               True    64130  KC20049212
60021               True    64132  KC20055397
60036               True    64109  KC20050694
60038               True    64132  KC20048660
60039               True    64109  KC20052176

[4547 rows x 3 columns]

In [28]:
firearmtrue.to_csv ('NewCrime.csv')