In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine

In [2]:
client = Socrata("data.kcmo.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
# API Calls
covidresults= client.get("98fz-2jyt")

In [4]:
resultsdataframe = pd.DataFrame.from_records(covidresults)
resultsdataframe

   zipcode  cases crude_rate_per_100_000
0    64101  SUPP*       Not Caclulated**
1    64102  SUPP*       Not Caclulated**
2    64105     96       Not Caclulated**
3    64106    199                2133.82
4    64108    243                3115.78
5    64109    143                1482.33
6    64110    185                1077.08
7    64111    265                1488.68
8    64112    129                1544.54
9    64113    128                1067.73
10   64114    234                 958.82
11   64116    198                1859.33
12   64117    189                1345.20
13   64118    301                1381.75
14   64119    240                1377.65
15   64120     10       Not Caclulated**
16   64123    436                4551.15
17   64124    538                5063.05
18   64125     95       Not Caclulated**
19   64126    205                3647.04
20   64127    467                3021.28
21   64128    257                2258.55
22   64129    155                1823.96
23   64131    350                1526.25
24   64132    222                1498.28
25   64133    252                1544.31
26   64134    350                1466.03
27   64136     37       Not Caclulated**
28   64137    245                2301.33
29   64138    165                1222.40
30   64139     30       Not Caclulated**
31   64145     83       Not Caclulated**
32   64146     12       Not Caclulated**
33   64147  SUPP*       Not Caclulated**
34   64149  SUPP*       Not Caclulated**
35   64151    264                1224.09
36   64152    130                1393.35
37   64153     67                1389.46
38   64154    143                1312.53
39   64155    254                1108.35
40   64156     56       Not Caclulated**
41   64157    233                1169.80
42   64158     97                1924.22
43   64161  SUPP*       Not Caclulated**
44   64163  SUPP*       Not Caclulated**
45   64164  SUPP*       Not Caclulated**
46   64165  SUPP*       Not Caclulated**
47   64166  SUPP*       Not Caclulated**
48   64167      7       Not Caclulated**

In [19]:
resultsdataframe[resultsdataframe.cases != 'SUPP*']

   zipcode cases crude_rate_per_100_000
2    64105    90       Not Caclulated**
3    64106   186                1994.42
4    64108   217                2782.41
5    64109   138                1430.50
6    64110   171                 995.58
7    64111   234                1314.53
8    64112   120                1436.78
9    64113   122                1017.68
10   64114   206                 844.09
11   64116   185                1737.25
12   64117   168                1195.73
13   64118   266                1221.08
14   64119   218                1251.36
15   64120     8       Not Caclulated**
16   64123   421                4394.57
17   64124   523                4921.89
18   64125    91       Not Caclulated**
19   64126   192                3415.76
20   64127   460                2976.00
21   64128   245                2153.09
22   64129   145                1706.28
23   64130   346                1730.35
24   64131   326                1421.59
25   64132   192                1295.81
26   64133   228                1397.23
27   64134   327                1369.69
28   64136    39       Not Caclulated**
29   64137   227                2132.26
30   64138   150                1111.28
31   64139    30       Not Caclulated**
32   64145    82       Not Caclulated**
33   64146    12       Not Caclulated**
36   64151   233                1080.35
37   64152   110                1178.99
38   64153    63                1306.51
39   64154   139                1275.81
40   64155   241                1051.62
41   64156    48       Not Caclulated**
42   64157   216                1084.45
43   64158    81                1606.82
49   64167     6       Not Caclulated**

In [20]:
NewCovid = resultsdataframe[resultsdataframe.crude_rate_per_100_000 != 'Not Caclulated**']

In [21]:
NewCovid

   zipcode cases crude_rate_per_100_000
3    64106   186                1994.42
4    64108   217                2782.41
5    64109   138                1430.50
6    64110   171                 995.58
7    64111   234                1314.53
8    64112   120                1436.78
9    64113   122                1017.68
10   64114   206                 844.09
11   64116   185                1737.25
12   64117   168                1195.73
13   64118   266                1221.08
14   64119   218                1251.36
16   64123   421                4394.57
17   64124   523                4921.89
19   64126   192                3415.76
20   64127   460                2976.00
21   64128   245                2153.09
22   64129   145                1706.28
23   64130   346                1730.35
24   64131   326                1421.59
25   64132   192                1295.81
26   64133   228                1397.23
27   64134   327                1369.69
29   64137   227                2132.26
30   64138   150                1111.28
36   64151   233                1080.35
37   64152   110                1178.99
38   64153    63                1306.51
39   64154   139                1275.81
40   64155   241                1051.62
42   64157   216                1084.45
43   64158    81                1606.82

In [22]:
NewCovidData = NewCovid.rename(columns={"zipcode": "zip_code"})

In [23]:
NewCovidData.to_csv('NewCOVID.csv')

In [24]:
NewCovidData

   zip_code cases crude_rate_per_100_000
3     64106   186                1994.42
4     64108   217                2782.41
5     64109   138                1430.50
6     64110   171                 995.58
7     64111   234                1314.53
8     64112   120                1436.78
9     64113   122                1017.68
10    64114   206                 844.09
11    64116   185                1737.25
12    64117   168                1195.73
13    64118   266                1221.08
14    64119   218                1251.36
16    64123   421                4394.57
17    64124   523                4921.89
19    64126   192                3415.76
20    64127   460                2976.00
21    64128   245                2153.09
22    64129   145                1706.28
23    64130   346                1730.35
24    64131   326                1421.59
25    64132   192                1295.81
26    64133   228                1397.23
27    64134   327                1369.69
29    64137   227                2132.26
30    64138   150                1111.28
36    64151   233                1080.35
37    64152   110                1178.99
38    64153    63                1306.51
39    64154   139                1275.81
40    64155   241                1051.62
42    64157   216                1084.45
43    64158    81                1606.82

In [16]:
covidengine = create_engine("sqlite:///COVIDData.sqlite")

In [18]:
#COVID
NewCovid = pd.read_csv('../API-CSV/NewCOVID.csv')
NewCrime = pd.read_csv('../API-CSV/NewCrime.csv')
NewCrime.to_sql('Crime', con=covidengine, if_exists='append', index=False)

In [23]:
covidengine.execute('select * from Covid').fetchall()

[(3, 64106, 186, 1994.42),
 (4, 64108, 217, 2782.41),
 (5, 64109, 138, 1430.5),
 (6, 64110, 171, 995.58),
 (7, 64111, 234, 1314.53),
 (8, 64112, 120, 1436.78),
 (9, 64113, 122, 1017.68),
 (10, 64114, 206, 844.09),
 (11, 64116, 185, 1737.25),
 (12, 64117, 168, 1195.73),
 (13, 64118, 266, 1221.08),
 (14, 64119, 218, 1251.36),
 (16, 64123, 421, 4394.57),
 (17, 64124, 523, 4921.89),
 (19, 64126, 192, 3415.76),
 (20, 64127, 460, 2976.0),
 (21, 64128, 245, 2153.09),
 (22, 64129, 145, 1706.28),
 (23, 64130, 346, 1730.35),
 (24, 64131, 326, 1421.59),
 (25, 64132, 192, 1295.81),
 (26, 64133, 228, 1397.23),
 (27, 64134, 327, 1369.69),
 (29, 64137, 227, 2132.26),
 (30, 64138, 150, 1111.28),
 (36, 64151, 233, 1080.35),
 (37, 64152, 110, 1178.99),
 (38, 64153, 63, 1306.51),
 (39, 64154, 139, 1275.81),
 (40, 64155, 241, 1051.62),
 (42, 64157, 216, 1084.45),
 (43, 64158, 81, 1606.82)]